[2019-11-22 14:37] jgimness opened #3 "Comparison with SkiaSharp.Extended.Svg"
Could you provide some info about the library objectives and how it compares to the SkiaSharp.Extended.Svg library? ( https://github.com/mono/SkiaSharp.Extended/blob/master/SkiaSharp.Extended.Svg/README.md )

I think that would be helpful for people browsing (found your library via a google search)

Thanks!

[2019-11-25 07:38] wieslawsoltes commented on #3
@jgimness

The `Svg.Skia` is using internally [SVG](https://github.com/vvvv/SVG) library from [NuGet](https://www.nuget.org/packages/Svg) to load `Svg` object model. The original `Svg` library provides only `System.Drawing` rendering backend. The `Svg.Skia` library is providing rendering backend implementation using `SkiaSharp` that aims to be at least on par or more complete then original `System

[2019-11-25 07:39] wieslawsoltes commented on #3
@jgimness I have add my above answer to README https://github.com/wieslawsoltes/Svg.Skia/blob/master/README.md#about

Please let me know if About clarification is clear or can be improved.

[2019-12-04 06:56] #3 closed

[2019-12-13 16:31] charlesroddie opened #4 "Remove SkiaSharp.NativeAssets.Linux"
Installing Svg.Skia into a netstandard project brings in SkiaSharp.NativeAssets.Linux.
https://github.com/wieslawsoltes/Svg.Skia/search?q=linux&unscoped_q=linux
Since this project shouldn't have a linux dependency, can this be removed?

[2019-12-13 16:50] wieslawsoltes commented on #4
@charlesroddie Removed this dependency from Svg.Skia. Will be included in the next preview release.

[2019-12-13 16:50] #4 closed

[2020-01-08 10:13] sharpwood opened #10 "Xamarin Forms support"
It prompts Operation is not supported on this platform when I load svg file .

[2020-01-08 11:06] wieslawsoltes commented on #10
@sharpwood Could you provide version you have used? Please also provide stack trace.

This can be related to netstandard2.0 support and issue with SVG/System.Drawing dependency. I am waiting for updated SVG library that's probably will fix some of those issue if not all.

[2020-01-08 11:57] sharpwood commented on #10
I used the last Svg.Skia version 0.6
 .net standard 2.1
SkiaSharp 1.68.1.1
 Xamarin Form 4.4
@wieslawsoltes

[2020-01-08 15:27] wieslawsoltes commented on #10
@sharpwood Do you have call stack from the exception?

[2020-01-08 16:09] wieslawsoltes commented on #10
What platform are you targeting using Xamarin Forms?

[2020-01-08 17:31] wieslawsoltes commented on #10
@sharpwood Trying to fix some issues https://github.com/vvvv/SVG/pull/635

[2020-01-08 23:41] sharpwood commented on #10
I am using Xamarin Forms on Android 10.0 @wieslawsoltes

[2020-01-09 00:17] sharpwood commented on #10
`01-09 08:12:32.338 D/Mono    (19022): DllImport error loading library '/storage/emulated/0/Android/data/com.companyname/files/.__override__/user32.dll': '(null)'.
01-09 08:12:32.339 D/Mono    (19022): DllImport error loading library '/storage/emulated/0/Android/data/com.companyname/files/.__override__/libuser32.dll.so': '(null)'.
01-09 08:12:32.340 D/Mono    (19022): DllImport error loading libra

[2020-01-09 22:26] wieslawsoltes commented on #10
@sharpwood Seems like GDI+ issue. Trying to fix this in SVG library.

Still I need to test this on Xamarin Forms for Android.

[2020-01-13 22:18] wieslawsoltes commented on #10
@sharpwood Could you try newly released version `0.0.8` and check if it fixes your issue?

[2020-01-15 02:14] sharpwood commented on #10
I tested 0.09 and 0.10 ,it still not works .        Svg.Picture is null after load svg file.

[2020-01-18 12:13] jrc14 opened #12 "UWP support"
What is the state of support for UWP in Svg.Skia?  I'm finding that it works for simple SVG content, but for more complex SVG, I am getting PlatformNotSupportedException: System.Drawing is not supported on this platform. (inner exception "The type initializer for 'Svg.SvgElement' threw an exception.").  This is the stack trace:
[code]
and this is the code that produced this problem:

[code]

I'm n

[2020-01-18 12:31] wieslawsoltes commented on #12
I will check the UWP, but first there seems to be error in SVG: `height="300px"` not `height="300x"`
[code]

[2020-01-18 12:34] wieslawsoltes commented on #12
I have worked on UWP support and tried to eliminate all unsupported System.Drawing calls, but there may be some cornet case, so please report any issue to I can fix them.

[2020-01-18 12:48] jrc14 commented on #12
Thanks for the answer - you're quite right; when pasting in the code, I did manage to edit 'px' into 'x'.  But even using the corrected source code you supplied, I am seeing that PlatformNotSupportedException.  Do you need more information about this repro case?

[2020-01-18 12:50] wieslawsoltes commented on #12
No I have all the info I need. I can repro the issue on my machine. I will try to fix, but there seems to be some bigger issue in Svg lib on UWP. I will at least add some try/catch block for affected part. This is related to how Svg library is handling Use element. I have some hack to get it working with SkiaSharp and this hack is using reflection to get stuff working.

[2020-01-18 12:52] wieslawsoltes commented on #12
For reference:
[code]

[2020-01-18 13:16] wieslawsoltes commented on #12
For now I have suppressed the exception https://github.com/wieslawsoltes/Svg.Skia/commit/6fac9d8247f9a208da0c53059d114636fe40688b until better fix is found.

[2020-01-22 19:23] jrc14 opened #13 "Providing additional fonts for Svg.Skia"
I'm trying to use Svg.Skia with SVG content that is packaged (in an EPUB archive in fact) alongside font files - which should be used to supplement the system fonts that SKTypeFace.FromFamilyName knows about.  Do you have any thoughts about how this could be handled in Svg.Skia?

I have in mind to create a fork of the code, adding a mechanism that would let me feed in an object (I'd define ITypefa

[2020-01-22 19:27] wieslawsoltes commented on #13
I did not run into this problem. We can come up with some solution together. No need for making forked version. I just have to figure out how to make the library plug-able.

[2020-01-22 21:25] wieslawsoltes commented on #13
@jrc14 I will add interface in next release:
[code]

You can implement your own typeface provider and add to `SvgTextExtensions.s_typefaceProviders`.

Change is already in `master` branch https://github.com/wieslawsoltes/Svg.Skia/commit/cb51079466b79dbd92d6afe8da4f6b218d996c9a

[2020-01-24 07:55] jrc14 commented on #13
Thank you - that looks good!

[2020-01-24 07:55] #13 closed

[2020-02-04 16:15] jrc14 opened #14 "Clipping of images when transformations applied"
Hi, What's the state of work on drawing images (such as embedded JPEGs) in the library?  I'm seeing a problem where, when I try to render a JPEG image with a transform applied, the image is getting wrongly clipped - I think the clip region is not being transformed.  In the attached SVG, the rectangle gets shown correctly, but the embedded JPEG is messed up.  It looks like it's been transformed cor

[2020-02-04 17:57] wieslawsoltes commented on #14
I will take a look next week.

wt., 4 lut 2020, 17:15 użytkownik jrc14 <notifications@github.com> napisał:

[2020-02-09 12:40] wieslawsoltes commented on #14
Pushed change to current `master`:
![image_clip](https://user-images.githubusercontent.com/2297442/74102217-b3d10980-4b41-11ea-9517-5142401ebc92.png)

[code]

[2020-02-09 13:13] wieslawsoltes commented on #14
Seems like non of the reference svg files has raster image with transform.

[2020-02-09 15:01] wieslawsoltes commented on #14
@jrc14 I think this is fixed in master branch:
![image_clip](https://user-images.githubusercontent.com/2297442/74104486-5d6dc600-4b55-11ea-95c6-e2f13e12e94b.png)

[2020-02-09 15:10] wieslawsoltes commented on #14
@jrc14 The issue should be fixed in `0.1.1` release.

[2020-02-09 19:55] #14 closed

[2020-02-09 19:56] jrc14 commented on #14
Thank you for that

[2020-02-26 20:56] zoli13 commented on #10
I tried with 0.1.5, and same issue, Picture is NULL, because svg.Load(stream) fails, I can see in output:

`02-26 21:54:32.350 D/Mono    (26357): Loading reference 1 of System.Xml.dll asmctx DEFAULT, looking for System, Version=2.0.5.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e`
`02-26 21:54:32.350 D/Mono    (26357): Assembly Ref addref System.Xml[0xdf9884e0] -> System[0xd437a8c0]: 7`
`[0:]

[2020-02-26 21:02] wieslawsoltes commented on #10
@zoli13 Can you provide sample SVG file that is causing this issue?

[2020-02-26 22:06] zoli13 commented on #10
This one: https://github.com/mono/SkiaSharp.Extended/files/4258056/opacity.zip

[2020-02-26 22:14] wieslawsoltes commented on #10
Maybe this is causing the issue. Could you try loading from string or a file? Maybe try rewinding embedded resource stream to position 0 (`stream.Position = 0;`) ?

[2020-02-26 22:16] wieslawsoltes commented on #10
@zoli13 On windows it works
![SvgToPng_2020-02-26_23-15-36](https://user-images.githubusercontent.com/2297442/75393242-eb83d380-58ed-11ea-9183-86b71f6c3421.png)

[2020-02-27 08:00] zoli13 commented on #10
Sample project attached, just run the Android (I tried on Emulator), and you will see.
[svg.zip](https://github.com/wieslawsoltes/Svg.Skia/files/4260238/svg.zip)

[2020-02-27 08:36] wieslawsoltes commented on #10
@zoli13 Could you try running this code and check Debug output, I have issues running Android projects on my machine.
[code]

[2020-02-27 09:05] zoli13 commented on #10
The exception is coming from `canvas.DrawPicture(svg.Picture);` , because Picture is NULL. So nothing useful info in the exception.

`[0:] Value cannot be null.`
`Parameter name: picture`
`[0:]   at SkiaSharp.SKCanvas.DrawPicture (SkiaSharp.SKPicture picture, SkiaSharp.SKPaint paint) [0x00003] in <718f8bdc6f3b41159baabdd0a10b4739>:0`
`  at svg.MainPage._SKCanvasViewMenu_PaintSurface (System.Object

[2020-02-27 10:49] wieslawsoltes commented on #10
@zoli13 I need to debug this on my machine, but first I need to fix Android emulator deployment as it's broken on my laptop.

[2020-03-02 08:41] inforithmics opened #16 "XamarinFormsDemo.UWP does not work in Release (Solution Configuration)"
XamarinFormsDemo.UWP does not work in Release (Solution Configuration)

The reason is that The libraries get Native Compiled and in the SVGDocument there are some Interops that are not allowed in UWP apps.

So In Debug (Solution Configuration) it doesn't enforce it but in Release it does. And the App doesn't work.

Code File
https://github.com/vvvv/SVG/blob/master/Source/SvgDocument.cs

Problemati

[2020-03-02 08:55] inforithmics commented on #16
A Sample Implementation using Xamarin Essentials.
[code]

Maybe Platform Support should be named SvgPlatformSupport

[2020-03-06 08:58] #10 closed

[2020-03-06 08:58] #12 closed

[2020-03-06 08:58] #16 closed

[2020-04-08 21:08] punker76 opened #19 "Svg.Skia NuGet with signed assemblies"
Is it possible that you can create a NuGet with signed assemblies?

This makes it possible to use your awesome lib also in such application scenarios.

like this

[code]

[2020-04-09 09:20] wieslawsoltes commented on #19
I do not have signing certificates and for example https://www.digicert.com/code-signing/ is `$474/year`. So doing this for open-source project seems bit expensive.

[2020-04-09 18:03] wieslawsoltes commented on #19
@punker76 Release https://www.nuget.org/packages/Svg.Skia/0.1.7

[2020-04-10 12:19] punker76 commented on #19
@wieslawsoltes Works perfectly, Thx

[2020-04-10 12:19] #19 closed

[2020-04-14 14:21] SeRgI1982 opened #21 "[Xamarin.Forms] Svg.Skia doesn't want to parse and display properly SVG"
I tried to use Svg.Skia exactly in the same way like in sample but no matter which .svg file I used, there is an output message during loading .svg file

monotouch Error: 0 : The CreateDocument method can only be used to parse root <svg> elements.
monotouch Error: 0 : The CreateDocument method can only be used to parse root <svg> elements.
monotouch Error: 0 : The CreateDocument method can only be

[2020-04-14 19:08] wieslawsoltes commented on #21
Can you try using normal file (not an embedded resource)?

[2020-04-14 21:09] SeRgI1982 commented on #21
In my production case, I download a whole data from my server, so my SVG is in string property of my Model. I will try to download it, save as file and load using path.

[2020-04-15 07:41] SeRgI1982 commented on #21
Ok, I have changed this sample project and currently, embedded resources are saved to device.
SKPicture is loaded via fila path and I would say that it is even worst:
- the same exception +

- sometimes a Native exception appears

Tested on iOS/Android (simulator and real device)

Additionally, I have tested function SKSvg.FromSvg(string svgContent) but I have got the same issues.
It looks like th

[2020-04-15 07:51] wieslawsoltes commented on #21
@SeRgI1982 I have problem on my machine to run Xamarin.Forms android to debug the issues specific to android. I can not test on iOS at all.

Can you try stepping through the Svg.Skia code and find where the exception is originating?

[2020-04-15 08:42] SeRgI1982 commented on #21
The same achieved on your sample

PrivateFontCollection constructor calls

`GDIPlus.CheckStatus (GDIPlus.GdipNewPrivateFontCollection (out _nativeFontCollection));`

I guess that something is wrong here.

[2020-04-15 09:39] wieslawsoltes commented on #21
@SeRgI1982 Seems like issue with some missing functionality from System.Drawing on Android/iOS. trying to fix this https://github.com/vvvv/SVG/pull/711

I will publish patched version of SVG with Svg.Skia that includes this fix in version 0.1.8.

[2020-04-15 12:34] ezruneko opened #22 "0 packages on https://www.myget.org/F/svgskia-nightly/api/v2"
No packages on https://www.myget.org/F/svgskia-nightly/api/v2

Thank you

[2020-04-15 13:40] wieslawsoltes commented on #22
Please check the `preview` button if using `Visual Studio`.

Check the gallery to see available packages: https://www.myget.org/gallery/svgskia-nightly

Add `-Pre` option to install command:
[code]

[2020-04-15 16:01] wieslawsoltes commented on #22
@ezruneko
![devenv_2020-04-15_18-01-05](https://user-images.githubusercontent.com/2297442/79359634-22b44f80-7f43-11ea-85d4-417c3d98db1f.png)

[2020-04-15 16:01] #22 closed

[2020-04-19 10:33] #21 closed

[2020-05-05 18:24] kroltan opened #23 "Invalid cast when applying blur filter to `DeepCopy`ed document"
Hello! First of all, thank you very much for this project, it is being super helpful so far!

I'm using version 0.2.0 built for .NET 4.5.2 in Unity 2019.3.12f1 on a Windows 10 64-bit computer.

I have hit a bit of a snag however, when trying to run some filters, from the following file:
[code]

(never mind the lack of dimensions, in my actual code I modify the document to add them in, but the erro

[2020-05-05 18:29] kroltan commented on #23
Upon some cursory debugging, it seems that the actual value of the `stdDeviation` attribute in the copied document is `SvgPointCollection`, but the `StdDeviation` getter expects it to be a `SvgNumberCollection`:
[code]

[2020-05-07 07:45] wieslawsoltes commented on #23
It's a bug:
https://github.com/vvvv/SVG/blob/32cd2c4b8f4e2cbd252c0552b449440d0525b34e/Source/DataTypes/SvgNumberCollection.cs#L18

[2020-05-07 07:46] wieslawsoltes commented on #23
I will fix in upstream repo and pull the fixes back.

[2020-05-07 07:54] wieslawsoltes commented on #23
https://github.com/vvvv/SVG/pull/725

[2020-05-10 16:57] wieslawsoltes commented on #23
This should be fixed on master branch and in new release coming soon.

[2020-05-10 16:57] #23 closed

[2020-05-14 14:18] jrc14 opened #25 "UWP app rejected by Certification Testing"
Hi - I've built a UWP app using Svg.Skia, but it is failing Windows certification testing with this message:

`API __CxxFrameHandler4 in vcruntime140_1_app.dll is not supported for this application type. libSkiaSharp.dll calls this API.`
`API __CxxFrameHandler4 in vcruntime140_1_app.dll is not supported for this application type. libGLESv2.dll calls this API.`
`API __CxxFrameHandler4 in vcruntime1

[2020-05-14 16:16] jrc14 commented on #25
Hi - a quick update - I think this might be a fault with the Windows App Certification Kit.  I'm following up on that, so perhaps you should avoid taking any action for the time being.  If I confirm it's a fault with the certification kit, I'll close the issye

[2020-05-14 21:00] wieslawsoltes commented on #25
Seems like bug in store and it's pretty common https://github.com/microsoft/microsoft-ui-xaml/issues/1446

[2020-05-14 21:00] #25 closed

[2020-05-14 21:02] wieslawsoltes commented on #25
And Microsoft.Graphics.Canvas.dll is part of Win2D, Microsoft own project.

[2020-05-18 17:33] QadiymStewart opened #27 "How to reference filter from image in code behind"
How to reference filter in code behind. Trying to apply the filter to the image. Builing the svg from code. My filter has an id of     ID = "a". How to I reference it in the SVGImage  ->   Filter = new Uri(),

     SvgDocument svgdoc = new SvgDocument
            {
                AspectRatio = new SvgAspectRatio
                {
                    Align = SvgPreserveAspectRatio.xMidYMid,

[2020-05-28 13:07] claunia opened #28 "Garbage on rendering."
Hi,

When I render
[company_176_1994.zip](https://github.com/wieslawsoltes/Svg.Skia/files/4695691/company_176_1994.zip)

using this code:
[code]

the resulting render is full of garbage:
![a2040fc2-297c-4175-ab17-10337ebef14f](https://user-images.githubusercontent.com/1234569/83145351-91f99380-a0ec-11ea-93ce-d738bcc8f5b8.png)

[2020-05-28 13:25] claunia commented on #28
Sorry it seems it is an upstream bug, when the canvas is created it is not properly emptied, adding `canvas.Clear` before drawing it fixes it.

[2020-05-28 13:25] #28 closed

[2020-06-17 05:55] #27 closed

[2020-06-17 21:03] jrc14 opened #31 "Svg.Skia does not work with UWP, in release builds"
Not sure why you've closed the issue 'XamarinFormsDemo.UWP does not work in Release (Solution Configuration)' without a resolution.  It's blocking for me.

It means that your library works fine with Debug builds, but when you build a UWP project for Release (which means the Native .Net toolchain is used), you get code that always throws a Type Initialization Exception, from this code:
[code]
It's

[2020-06-21 22:35] hawkerm opened #32 ".NET Standard 1.3?"
Since the base SkiaSharp supports .NET Standard 1.3 is there anything here that requires the minimum to be .NET Standard 2.0?

Just curious. I'm currently targeting 1.3 using SkiaSharp as that's what it's min is, and I currently don't have a need to bump it up yet.

[2020-06-21 22:36] hawkerm opened #33 "2.80 previews?"
Are there plans to have NuGets that target the upcoming 2.80 previews of SkiaSharp that will be released soon? Thanks!

[2020-06-22 07:29] wieslawsoltes commented on #32
The dependencies require minimum `netstandard2.0`.
[code]

[2020-06-22 07:29] #32 closed

[2020-06-22 07:31] wieslawsoltes commented on #33
Sorry not planned. I use master branch and my dependencies requires stable SkiaSharp. If 2.80 will be released and my dependencies update to 2.80 series than I will release.

[2020-06-22 07:31] #33 closed

[2020-06-30 09:10] inforithmics commented on #31
When one of my pull requests is merged for https://github.com/vvvv/SVG/issues/736 then I can make a pull request to this project (Adding UWP Target) and it should work on UWP

[2020-07-07 23:21] iamcarbon opened #35 "USE_PICTURE"
Is this IFDEF still needed? What is the case for maintaining two codepaths?

[2020-07-08 04:40] wieslawsoltes commented on #35
It is needed. If you want bit better perf and memory usage, for testing SkiaSharp rendering while developing. Both code paths are necessary.

[2020-07-16 02:44] #35 closed

[2020-07-18 12:17] #31 closed

[2020-07-18 12:33] wieslawsoltes commented on #31
Ported changes from https://github.com/vvvv/SVG/pull/739 to Svg.Custom

[2020-07-19 01:51] DrHeimdall opened #39 "Text of custom fonts not rendering"
I'm making a gui program in avalonia with a custom ui and planned on using dynamically rendered svgs for the ui. I begun with creating the splash screen but I can't seem to render the text using your library. I am using the skiasharp bundled with Avalonia (so it doesn't mess up the natives) and I made the splash screen (and will make all svg files) using Inkscape.

This is what I could get your li

[2020-07-19 04:36] wieslawsoltes commented on #39
The svg is using flowRoot element which is unsupported.

[2020-07-19 04:49] wieslawsoltes commented on #39
https://graphicdesign.stackexchange.com/questions/21662/how-does-inkscape-decide-whether-to-use-flowroot-or-text

[2020-07-19 04:51] wieslawsoltes commented on #39
https://www.w3.org/TR/2004/WD-SVG12-20041027/flow.html

It is Svg 1.2, the Svg.Skia supports Svg 1.1, please note that text rendering is very basic and no plans for near feature on extending that part as it is pretty huge undertaking.

[2020-07-19 10:06] DrHeimdall commented on #39
Ah, amazing, thank you! Thanks so much for the stackoverflow answer as well, really helpful and everything should work now!

[2020-07-19 10:06] #39 closed

[2020-07-28 10:44] FoggyFinder opened #40 "[ UWP ] System.NullReferenceException: "Object reference not set to an instance of an object.""
Happens only in Release mode. It looks like a bug in the .net native at first glance.

MCVE
[code]

[code]

caused by

[code]
[here](
https://github.com/vvvv/SVG/blob/7f72d36d70309293adebb66e72a71ced54ce924b/Source/SvgElementFactory.cs#L269)

It doesn't like `id = \"moti\"` for some reason.

[2020-07-28 10:51] wieslawsoltes commented on #40
Maybe some metadata is missing in release version, could you try add Svg.Custom to rd.xml file?

[2020-07-28 11:00] FoggyFinder commented on #40
[code]

^ same result

[2020-07-28 11:09] wieslawsoltes commented on #40
Do you have stack trace and also can you debug and tell me which variable is null?

[2020-07-28 12:01] FoggyFinder commented on #40
Resolved with

[code]

Would be better to include something more specific than that though

[2020-07-28 12:01] #40 closed

[2020-07-28 16:28] srqdev opened #41 "SVG file that is not correctly handled"
I found a file that when I simply load and then save to a PNG, all the PNG contains is a transparent PNG. No rendering of the image has occurred.  The text of the SVG is below and is a circular cutoff the Puerto Rico flag. So very straightforward.

`<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#

[2020-07-28 20:53] wieslawsoltes commented on #40
Are there more verbose release mode diagnostics. When doing rd.xml files for CoreRT this was helpful to find more granular types in rd.xml definitions.

[2020-07-28 21:45] FoggyFinder commented on #40
Exactly. For CoreRt I included the line below to a proj file:

[code]

and it indeed helped me a lot to understand issues with my app. Dunno how to use it with .net native if it possible at all. Probably I should just experiment with it a bit :-)

I haven't expected metadata issues because usually there is "Missing...Exception" which is easy to understand.

[2020-07-29 02:19] Kim-SSi opened #42 "SVG to PNG/PDF text position incorrect"
Converting the attached svg to png using Svg.Skia results in the incorrect position of the text.
SvgNet renders the text position correctly in the png, but has other issues.
I have included the png/pdf output of the svg when open from Inkscape and Chrome which match SvgNet.

[Reproducer1-Chrome.pdf](https://github.com/wieslawsoltes/Svg.Skia/files/4992082/Reproducer1-Chrome.pdf)
[Reproducer1-Inksca

[2020-08-02 08:50] edward-a opened #43 "The result is blurry"
I am getting blurry results when rendering an SVG in UWP app. Below is the code I use to draw SVG in SKXamlCanvas.PaintSurface event handler.

			var canvas = e.Surface.Canvas;
			var display = DisplayInformation.GetForCurrentView();
			var scale = display.LogicalDpi / 96.0f;
			var scaledSize = new SKSize(e.Info.Width / scale, e.Info.Height / scale);
			canvas.Scale(scale);
			canvas.Clear(SKColo

[2020-08-03 17:03] ninfernix opened #44 "Image embedding"
Avalonia - 0.10 Preview 2

There doesn't seem to be support for embedding an image/bitmap inside the svg.
Example svg that has an image embedded and a circle. Only the circle gets rendered.
[code]

[2020-08-03 19:08] wieslawsoltes commented on #44
The new Svg.Picture abstraction does not support setting image width and height. If you undefine USE_PICTURE in csproj than it works as expected.

[2020-08-03 19:17] wieslawsoltes commented on #44
The Width and Height properties are not set when loading image data.

https://github.com/wieslawsoltes/Svg.Skia/blob/2eaa03c6fbc91725469210725f982648ea1da142/src/Svg.Picture/Primitives/Image.cs#L8-L9

[2020-08-04 15:25] ninfernix commented on #44
It doesn't compile if I remove `USE_PICTURE` in `Svg.Skia.Avalonia.csproj`

[code]

[2020-08-05 17:39] ninfernix opened #45 "Creating an SvgDocument from code"
When I open an svg file and I can render it correctly in an `Image` component (Avalonia)
But if I try to create an `SvgDocument` , Add Children (a line) and render it to an `Image` nothing appears.
If Save the object to xml file, then read it again, it render correctly.

I'm not sure if this is even is supposed to be supported.

Code for reading an svg and rendering it:
[code]

Creating `SvgDocume

[2020-08-25 19:41] dedmen opened #46 "SVG line on axis not handling linearGradient with 0 offset correctly"
Full example svg file (named txt so I can upload it here)
[Chernarus_Winter.txt](https://github.com/wieslawsoltes/Svg.Skia/files/5125863/Chernarus_Winter.txt)

Left Google Chrome
Center Mozilla Firefox
Right Svg.Skia rendered onto a canvas

![2020-08-25_21-24-56](https://user-images.githubusercontent.com/3768165/91218514-7452bf00-e719-11ea-80f4-5bd9f83557e3.png)

Minimal example
[code]

Even setti

[2020-08-26 07:04] wieslawsoltes commented on #46
Try adding `gradientUnits="userSpaceOnUse"` to linearGradient

[2020-08-26 07:07] wieslawsoltes commented on #46
https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/gradientUnits

gradientUnits default value objectBoundingBox is using the bounding box of the element so vertical line have 0 width and horizontal 0 height

[2020-08-26 07:40] wieslawsoltes commented on #46
https://github.com/wieslawsoltes/Svg.Skia/blob/84fee4999877260f9d2513f4a065750274c0598c/src/Svg.Skia/Svg/SvgExtensions.cs#L991-L1002

So when bounding box has 0 height or width what we should do?

https://www.w3.org/TR/SVG11/pservers.html#LinearGradientElementGradientUnitsAttribute
https://www.w3.org/TR/SVG11/coords.html#ObjectBoundingBox
[code]

[2020-08-26 11:18] #45 closed

[2020-08-27 02:22] dedmen commented on #46
yes that fixes it thanks.
I assume this can be closed then, didn't think to search for problems with the gradient itself.

[2020-08-27 02:22] #46 closed

[2020-09-07 07:23] wieslawsoltes commented on #43
Is result blurry without scaling matrix?

[2020-09-07 07:24] wieslawsoltes commented on #42
Text support is very basic so issues are expected.

[2020-09-07 07:25] wieslawsoltes commented on #41
Text support is very basic to bugs related to text are expected.

[2020-09-23 14:54] ChristopherStephan opened #47 "Is the library compatible with Xamarin.Forms?"
Hi,

is this library compatible with Xamarin.Forms? So far I could not make it work.

[code]

I get the error "Assembly 'Svg.Skia.Avalonia' was not found." for the svg namespace. I am using version 0.10.0-preview1 of AvaloniaUI. Also, the `Image.Name` property does not exist for Xamarin.Forms.Image.

Regards
Christopher

[2020-09-23 15:33] FoggyFinder commented on #47
Wrong package. You should use `Svg.Skia` instead of `Svg.Skia.Avalonia` for XF.

[2020-09-23 18:51] wieslawsoltes commented on #47
The library yes, but you have to use SkiaSharp views and render content yourself using loaded SKPicture by SKSvg.

[2020-09-23 18:51] #47 closed

[2020-09-25 12:55] charlesroddie opened #48 "Fonts on Android"
Wondering how to display SVGs with fonts on Android.

We tried using `font-family="Arial, sans-serif"`, and `font-family="Roboto"`, but none of these are getting picked up on Xamarin.Android.

Font specifications and fallbacks seem to work fine on UWP.

cc: @kevcrooks

[2020-09-26 12:06] wieslawsoltes commented on #48
Do not have setup for testing on Android. You can debug typeface provider here:

https://github.com/wieslawsoltes/Svg.Skia/blob/15a6f5393a178ebf780024471c483bb13235cecc/src/Svg.Skia/SKSvgSettings.cs#L19

This is default font provider:

https://github.com/wieslawsoltes/Svg.Skia/blob/15a6f5393a178ebf780024471c483bb13235cecc/src/Svg.Skia/Typeface/FontManagerTypefacerovider.cs#L39

[2020-09-29 11:42] charlesroddie opened #49 "Svg.Custom not compatible with linking"
Svg.Custom is referenced by Svg.Skia and is not compatible with linking.

Workaround: skip linking manually for Svg.Custom

Is there some reflection that is required in this framework that is giving a linker incompatibility?

Tested on Android.

Other platforms (UWP release mode, iOS) not tested but could have similar issues.

[2020-09-29 11:45] kevcrooks commented on #48
We've just tested this with @charlesroddie again now on Android, and it seems to be working, so this issue can be closed

[2020-09-29 11:46] #48 closed

[2020-09-29 11:49] charlesroddie commented on #49
I see this comes from a fork of https://github.com/vvvv/SVG so should I move this issue there?

[2020-09-29 12:22] wieslawsoltes commented on #49
Probably reflection in Svg.Custom (it's not a fork, just custom csproj).

[2020-09-29 17:03] wieslawsoltes commented on #49
@charlesroddie https://github.com/wieslawsoltes/Svg.Skia/issues/40#issuecomment-664998730

[2020-10-04 04:56] jatinpandya opened #50 "Problem installing this"
I get this error when I try to install this package in VS 2017 nuget. Any suggestions?

[code]

[2020-10-04 07:31] FoggyFinder commented on #50
The error message is pretty clear: You can't install the package into project that targets .Net 4.0 framework.

Consider upgrating your project to a newest version. For example, .net framework 4.6.1. If this is not an option you will have to build library from source targeting .net 4.0. And that might be not easy.

[2020-10-04 10:47] wieslawsoltes commented on #50
Minimum supported targets:
[code]

[2020-10-04 10:47] #50 closed

[2020-10-22 20:07] JonathanDDuncan commented on #13
For the following example, how would I use ITypefaceProvider
`  public void SVGtoPNG(string id, string svg)
        {
             using (var skSVG = new SKSvg())
            {
                if (skSVG.FromSvg(svg) != null)
                {
                    using (var stream = File.OpenWrite(@"image.png")))
                    {
                        skSVG.Picture.ToImage(stream, SKColors.E

[2020-10-22 21:03] wieslawsoltes commented on #13
This is not supported.

[2020-10-22 21:05] JonathanDDuncan commented on #13
@wieslawsoltes Thanks for your prompt response

[2020-10-22 21:34] jrc14 commented on #13
@JonathanDDuncan It is doable (for my application, I have done it).  But it's not simple.

Essentially you'll need to create a separate utility class that parses the SVG file, finds places where "@font-face { whatever}" appears in it, and where it finds  src: url('...') it reads that source data and constructs an SKTypeFace from it, and adds it to a Dictionary<string,SKTypeFace>, that lets you obt

[2020-11-09 01:16] stashymane opened #51 "Defining SVG color"
With CSS it is possible to define the color of SVGs via the `fill` property - would be nice having that here as well.

[2020-11-09 17:35] #42 closed

[2020-11-09 17:36] wieslawsoltes commented on #51
Do you have svg example with fill that is not working ?

[2020-11-12 00:01] stashymane commented on #51
The issue is not that fill is not working - the issue is that it would be nice to have a way to customize SVG color inside XAML and not creating a duplicate svg file with only the fill color changed.

[2020-11-12 06:38] wieslawsoltes commented on #51
That would be nice indeed, but the way Svg library works and Svg.Skia was built it's expensive operation as we have to parse css and rebuild entire picture.

[2020-11-24 09:50] AlexSchuetz commented on #51
Would it be able to add some transformations like in Xamarin with [ffimageloading](https://github.com/luberda-molinet/FFImageLoading)? Like Rotation and Tint.

[2020-12-21 13:47] nitanmarcel opened #54 "Use xml code instead of svg file?"
Is there a way to use the xml code instead of a svg file? I'm working on a live editing tool and it will be pretty handy for me to just use the xml text instead of the svg file since my project requires binding between css and xml to edit the svg,

Thanks!

[2020-12-28 10:00] wieslawsoltes commented on #54
You can load from xml using stream.

[2020-12-28 10:03] wieslawsoltes commented on #54
https://github.com/wieslawsoltes/Svg.Skia/blob/216a01367ddf4c88373943ae988c23f3a7805eac/src/Svg.Skia/SKSvg.cs#L195-L201

[2020-12-28 10:03] #54 closed

[2020-12-28 11:37] wieslawsoltes commented on #44
This will be fixed in next release.

[2020-12-28 11:37] #44 closed

[2020-12-28 11:57] wieslawsoltes commented on #41
When I load provided SVG into chrome (and Edge) browser the result is the same - transparent image. So issue is with Svg itself.

[2020-12-28 11:57] #41 closed

[2020-12-28 11:59] wieslawsoltes commented on #41
![2020-12-28_12-58-21](https://user-images.githubusercontent.com/2297442/103212904-6baf0700-490c-11eb-8b77-08cdd062b56b.png)

[2020-12-28 12:00] wieslawsoltes commented on #51
I think for now it's beyond scope of this project.

[2020-12-28 12:00] #51 closed

[2020-12-28 12:01] wieslawsoltes commented on #43
This is SkiaSharp / UWP issue, WPF and Avalonia render images correctly.

[2020-12-28 12:01] #43 closed

[2020-12-28 12:02] wieslawsoltes commented on #49
This is linker issue, solved by custom rd.xml files.

[2020-12-28 12:02] #49 closed

[2020-12-31 01:11] Zhangoo opened #56 "Fill setting is invalid"
[code]

When drawing this svg, the color is all black.
fill="red" is invalid.
Can you please confirm. @wieslawsoltes

Version 0.41

[2021-01-01 12:10] wieslawsoltes commented on #56
The Svg renders just fine, don't see any issue here.

Svg.Skia (master branch)

![dotnet_2021-01-01_13-09-05](https://user-images.githubusercontent.com/2297442/103438347-ab3e6180-4c32-11eb-838e-b33688b69530.png)

Chrome

![chrome_2021-01-01_13-09-18](https://user-images.githubusercontent.com/2297442/103438350-b2fe0600-4c32-11eb-9458-fac79507e74a.png)

[2021-01-01 12:10] #56 closed

[2021-01-01 12:11] wieslawsoltes commented on #56
Try using latest nightly build https://www.myget.org/F/svgskia-nightly/api/v2

[2021-01-11 17:40] Batboa opened #57 "em unit is not relative to the font size."
When converting unit defined in _em_ to a device value the font size is not taken into account. This deviates from the [SVG spec on coordinates ](https://www.w3.org/TR/SVG11/coords.html), specifically 7.10. If the owner has a font size, it should be used to convert.

Specifically [here](https://github.com/wieslawsoltes/Svg.Skia/blob/master/src/Svg.Model/SvgModelExtensions.Transforms.cs#L20).

This

[2021-01-23 19:13] wieslawsoltes commented on #57
Not yet supported.

[2021-01-27 10:53] kevcrooks opened #58 "[Question] Is there a way to verify that an svg file is correctly formatted?"
Currently we are using `SKSvg().Load(filepath)`, which returns a valid svg, however our svg file was slightly mal-formed, so the process of loading gave some exceptions:
[code]
and
[code]
In the case of the exception above, a color in the file was invalid: "9c2e3e" instead of "#9c2e3e".

Even though these exceptions are thrown, they appear to be handled in the `Load()` method, so that a valid SVG

[2021-01-27 11:03] wieslawsoltes commented on #58
This is discussion for SVG library.

I am working on perf optimizations in that piece of code, maybe we can continue discussion here https://github.com/svg-net/SVG/pull/806

[2021-01-27 14:44] kevcrooks commented on #58
Thank you, I'll close the issue and move this question over to the SVG library

[2021-01-27 14:44] #58 closed

[2021-01-29 20:59] bondarenkod opened #59 "PNG image result does not match the SVG source."
Hi!
I've come here from https://github.com/Redth/ResizetizerNT/issues/43
I am not sure that the issue is related to this project for 100%, but I tried to run the viewer from the https://github.com/svg-net/SVG repository and it display the image without the difference from the original one.

I have a few icons in the AdobeXD design. I exported them as the SVG files to use them in my project. Usuall

[2021-01-29 21:42] wieslawsoltes commented on #59
It's bug in filter rendering.

[2021-01-31 16:16] benjaminZale opened #60 "font-weight of bold is not supported"
The `font-weight` of bold is not supported.  For example the text "cat" From the [MDN text example](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/text) did not have the font style applied.

[2021-02-16 13:57] darinkes opened #62 "Opacity only works for 0 and 1 for Image with SvgImage Source and Svg control"
I noticed you can't fade away an Image with SvgImage Source.

Not sure if this is a limitation of Svg.Skia or Svg itself.

[code]

ContentPresenter includes a TextBlock and an Image. Only the TextBlock gets slowly invisible.
The Image only disapears as soon as Opacity becomes 0.0

[2021-03-04 07:32] Jarek300 opened #63 "Compiler error after upgrading to 0.5.0"
This line does not compile:

SvgDocument? svgDocument = SKSvg.Open(stream);

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0117	'SKSvg' does not contain a definition for 'Open'

Release notes of version 0.5.0 (and also 0.5.0-rc2, 0.4.2-rc1, 0.4.2-preview9, 0.4.2-preview8, 0.4.2-preview7, 0.4.2-preview5, 0.4.2-preview3) contain no information about any breaking changes.

To

[2021-03-04 08:08] wieslawsoltes commented on #63
[code]

[2021-03-04 15:58] Jarek300 commented on #63
Thanks.

[2021-03-22 19:07] mrbean-bremen opened #66 "Move to svg-net organization?"
This has been discussed while discussing the creation of svg-net. It would help to co-ordinate efforts, make the projects more visible, and use some of the additional features of organizations.

Technically, this would mean [transferring ownership](https://docs.github.com/en/github/administering-a-repository/transferring-a-repository) to one of the admins of the organization, who in turn would mak

[2021-03-24 20:14] mrbean-bremen commented on #66
This should have been a discussion, not an issue - closing and re-creating as discussion.

[2021-03-24 20:15] wieslawsoltes commented on #66
I can transfer to discussion.

[2021-03-24 20:21] mrbean-bremen commented on #66
Ok, sorry for the confusion - I already copied it to discussions. Moving would have been better of course... closing again, as now it's duplicated in discussions.

[2021-03-24 20:21] #66 closed

[2021-03-30 10:56] radev8 opened #70 "Memory Leak on DrawPath"
I am experiencing an issue which looks like a memory lean when I scale a SVG using a matrix. The sample application starts at about 70MB and then nearly doubles as you resize the app. The resize event triggers the redraw.

Steps to reproduce:

run the project
Resize the app and drag so the app is always resizing
I have attached a screenshot of the memory usage.

This project is a cut down version

[2021-04-18 11:12] MihaMarkic commented on #51
Tint would be awesome to have. Rotate can be at least done by host, though.

[2021-05-26 19:33] wieslawsoltes commented on #60
Fixed in https://github.com/wieslawsoltes/Svg.Skia/commit/683f81830a8b24e6c93afb27278314f15e85d054

[2021-05-26 19:33] #60 closed

[2021-05-26 19:35] #57 closed

[2021-05-26 19:36] wieslawsoltes commented on #57
Fixed in #73

[2021-05-30 22:27] tommaier123 opened #75 "Avalonia.Svg control gradient not working"
Hello,
I want to use the Avalonia control to show some svg images with gradients for example this [search bar](https://github.com/wieslawsoltes/Svg.Skia/files/6566994/searchbar.zip)
```<Svg Path="resm:NoodleManagerX.Assets.icons.searchbar.svg" Height="2" Width="200" Stretch="Fill"/>```
Instead of the gradient only the first color is used for the whole thing.
Is there a trick to get it to work?

Al

[2021-05-31 19:29] wieslawsoltes commented on #75
Currently `Avalonia.Svg.Skia` is recommended if you want best experience, `Avalonia.Svg` is under development and only supports really basic rendering.

https://github.com/wieslawsoltes/Svg.Skia/blob/fbad254885790b3aaf9029b284bff03594d96814/samples/AvaloniaSvgSkiaSample/Program.cs#L15-L16

[2021-05-31 20:12] tommaier123 commented on #75
Awesome, thank you.

[2021-06-07 06:27] wieslawsoltes commented on #62
@darinkes Could you try with new `Svg` control:
https://github.com/wieslawsoltes/Svg.Skia/blob/706d968a28606bf90621df385b77b4608a91f1c5/samples/AvaloniaSvgSkiaSample/MainWindow.axaml#L22

[2021-06-09 22:37] adossey commented on #62
I'm seeing the same behavior as @darinkes using both the Image and Svg controls in Avalonia.Svg.Skia version 0.10.6.1.

[2021-06-10 07:49] wieslawsoltes commented on #62
This is an issue in AvaloniaUI with how opacity is blended when using custom draw operation

![rider64_bvo7LHrGJm](https://user-images.githubusercontent.com/2297442/121486119-23bf0080-c9d1-11eb-85ca-d6b5564e89c3.png)

[2021-06-10 08:41] wieslawsoltes commented on #62
I have hack fix for that, but not really want it to use https://github.com/wieslawsoltes/Svg.Skia/pull/79

[2021-06-10 20:15] adossey commented on #62
Thanks for the quick hack! I tried it out, and it works now when the Opacity is applied directly to the Svg control, but it still doesn't work when the Opacity is inherited from the parent control. I can work around this by just duplicating a little code, but inheriting the Opacity from the parent would certainly be ideal.

[2021-06-10 20:25] wieslawsoltes commented on #62
Without Avalonia fixing this in core library this hack is best I can do.

[2021-06-12 13:59] darinkes commented on #62
@wieslawsoltes thanks for taking a look at it!

Should we open an issue at Avalonia?
May I ask you to do it, since you can be more specific what needs to be done?

[2021-06-12 14:03] wieslawsoltes commented on #62
@darinkes It is know issue, not need to create new one

[2021-08-14 01:30] esonhon opened #80 "Embedded image in .SVG not rendered"
Avalonia.svg 0.5.6.2 or nuget version 10.6.2, the embedded image in SVG file not rendered, just blank. And some single character not displayed.
Pls ref the attached SVG file and the render result in MS Edge of same file.
[Correct result in MS edge]
<img width="531" alt="svg_edge" src="https://user-images.githubusercontent.com/2252248/129430521-c369afea-0e95-428a-aea7-ac731b12defb.png">
[in Avaloni

[2021-08-20 16:55] wieslawsoltes commented on #59
@bondarenkod I think I have fixed this issue. The fix is in the master branch right now. Will do NuGet release soon.

[2021-08-23 04:27] wieslawsoltes commented on #59
This should be fixed in 0.5.7.1

[2021-08-23 04:27] #59 closed

[2021-08-23 04:28] wieslawsoltes commented on #80
Please use `Avalonia.Svg.Skia` instead of `Avalonia.Svg`

[2021-08-23 04:28] #80 closed

[2021-08-23 04:29] #75 closed

[2021-08-23 04:31] wieslawsoltes commented on #70
It's probably issue in SkiaSharp itself Svg.Skia is using SKPath same as SkiaSharp.Svg. All resource are disposed correctly during runtime.

[2021-08-23 04:31] #70 closed

[2021-08-23 04:31] #62 closed

[2021-09-30 09:29] Pat28 opened #84 "Add support writing-mode: vertical-rl and special CJK vertical glyphs"
var svg = new SKSvg();
svg.FromSvg("<svg width=\"400\" height=\"400\">  <text x=\"100\" y=\"120\" style=\"writing-mode: vertical-rl\">Hallo wereld 日㌀㌃</text> </svg>");

[svg_sample_in_html.zip](https://github.com/wieslawsoltes/Svg.Skia/files/7258381/svg_sample_in_html.zip)

Notice how horizontal and vertical Japanese characters are rendered differently.

![cjk_vertical_glyph](https://user-images.g

[2021-10-11 10:16] Materix opened #86 "Very high memory usage"
Due to precalculating Content property of SvgDocument (and all nodes below) there is multiple string concatenation which cause multiple GC

https://github.com/svg-net/SVG/blob/master/Source/SvgDocument.cs#L504

Processing of one file (5MB)

![image](https://user-images.githubusercontent.com/6151485/136773980-a065fb26-5c58-4711-b403-dbf53d01a0b2.png)

[2021-10-18 08:03] xingxing21 opened #87 "Opacity Issue in Image Markup"
There is the Opacity issue in Image markup

`<Image Source="{SvgImage /Assets/test.svg}" Opacity=".05" `/>`

[2021-10-18 08:05] #87 closed, assigned to nobody

[2021-10-19 15:22] Batboa opened #88 "paint-order not supported on path"
Path does not seem to respect the `paint-order` attribute. Documentation [here](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/paint-order). I've not tested for other supported classes.

Here's an example SVG with the issue:  `data:image/svg+xml;charset=utf-8;base64,PHN2ZyBjbGFzcz0ibmNvbG9yZWQtc3ZnLWltYWdlIiB2aWV3Qm94PSI1MDAgMzkwIDIwMCAyMDAiIGhlaWdodD0iMzUwcHgiIHdpZHRoPSI0MDBweCIgeG1sb

[2021-11-09 08:34] Gao996 opened #89 "Can I convert SVG to XAML file?"
Can I convert SVG to XAML file?
thanks!

[2021-11-09 10:13] wieslawsoltes commented on #89
Yes https://github.com/wieslawsoltes/SvgToXaml

[2021-11-09 10:13] #89 closed

[2021-12-03 15:04] Al-Dyachkov opened #90 "SVG is not rendered properly"
Reproduced in : 0.10.10

Expected result (rendered by rider preview):

![image](https://user-images.githubusercontent.com/10960735/144624097-859688fa-3302-45a8-8af8-62fb4d8835f6.png)

Result in TestApp:

![image](https://user-images.githubusercontent.com/10960735/144624172-4f1394c4-97bf-4f71-bd6d-fcc77869d66c.png)

Sample SVG:
[code]

[2021-12-07 09:55] wieslawsoltes commented on #90
Those this work?
[code]

[2021-12-07 10:22] Al-Dyachkov commented on #90
Yes, works as expected
I see now that original svg has two close path commands.
I will double-check assets.

Is there any way to handle/diagnose parsing issues ?

[2021-12-07 11:14] wieslawsoltes commented on #90
Not really right now.

[2021-12-07 12:29] Al-Dyachkov commented on #90
That would be really nice to have.

But that's not the point of current issue, closing it. Thanks for help.

[2021-12-07 12:29] #90 closed

[2021-12-09 16:11] DocBrown101 opened #91 "LoadPicture(string path, Uri? baseUri) does not work on linux"
I use an OpenFileDialog to load an SVG file. Under Linux the file path always starts with "/" and therefore cannot be loaded.

The file "SvgSource.cs" shows why:
[code]

[2022-01-02 08:06] Happypig375 opened #92 "Get rid of System.Drawing.Common for Svg.Custom"
https://docs.microsoft.com/en-us/dotnet/core/compatibility/core-libraries/6.0/system-drawing-common-windows-only

Even though Svg.Skia should use SkiaSharp instead of System.Drawing.Common everywhere, System.Drawing.Common is still a dependency through Svg.Custom. It should not be used anymore.

[2022-01-02 08:15] wieslawsoltes commented on #92
This library doesn't target only .NET 6

[2022-01-02 08:15] #92 closed

[2022-01-07 13:44] KillyMXI opened #95 "SvgVisualElement.Bounds disappeared between 0.5.10 and 0.5.11.1"
Tried to update the package, got some of my code broken due to unavailability of `SvgVisualElement.Bounds`.
Seems like it might depend on `NO_SDC` flag in SVG.NET.

Is this intentional? I can't see what commit exactly caused this.

I'm currently depend on Svg.Skia and use whatever version of SVG.NET comes with it. Should I depend on both explicitly?

[2022-01-07 18:07] wieslawsoltes commented on #95
Because Microsoft removed (disabled) cross-platform support for System.Drawing.Common the SVG.NET library is built for Svg.Skia without it. With .NET 7 System.Drawing.Common cross-platform support will be completely removed. Svg.Skia has model with bounds property. See the https://github.com/wieslawsoltes/Svg.Skia/discussions/93 discussion for how to access new bounds property.

[2022-01-07 18:07] #95 closed

[2022-01-07 18:09] wieslawsoltes commented on #95
Please not the there is ongoing work to migrate from System.Drawing.Common but it's gigantic task.

[2022-01-08 08:55] Happypig375 opened #96 "TextDrawable does not set its Bounds"
https://github.com/wieslawsoltes/Svg.Skia/blob/master/src/Svg.Model/Drawables/Elements/TextDrawable.cs#L45
Appears unimplemented.

[2022-01-08 08:57] wieslawsoltes commented on #96
Yes text drawing drawable need major refactoring.

[2022-01-25 01:02] Jeremy-Price opened #97 "Incorrect bounds computation with transforms"
In the example below, two lines appear one immediately after the other,
[code]

That is, in the viewBox-associated coordinates, the lines are:
[code]

However, the bounds reported by the SKSvg's Drawable do not appear to be correct:
[code]

This svg does display correctly when drawn, so the transform is not being ignored completely, just in the bounds computation.

I think the problem is https://g

[2022-01-25 06:33] wieslawsoltes commented on #97
Try TransformedBounds
https://github.com/wieslawsoltes/Svg.Skia/blob/472b9a14f9d14d140e0c70c12073f5cecb42b2a9/src/Svg.Model/Drawables/DrawableBase.cs#L24

[2022-01-25 19:40] Jeremy-Price commented on #97
This produces the same results as `Bounds`.

[2022-02-01 13:16] augusto630 opened #98 "Applying translate inside a mask causes path to not be rendered"
When applying a transform translate inside a mask, it doesn't render the path, it seems to clip to the path's original dimensions:

[code]

If instead I apply the translate to the mask, then it renders as expected
[code]

[2022-02-08 14:42] KoalaBear84 opened #99 "SVG to PNG renders inline images incorrectly"
**Description**
I'm trying to convert an online Meteogram from SVG to PNG. It looks like it doesn't scale the inline (base64) images down correctly.

Also the legenda lines are missing, but might still be the same issue. And the text isn't correctly positioned, but read more issues because text isn't greatly supported.

Looks like the same issue as in other library https://github.com/svg-net/SVG/i

[2022-02-19 14:49] AmaelN opened #100 "[BUG] SvgGradientStop StopColor and fill color"
Hi,

Currently using the SvgColourServer to define the stopColor of fill color

There is a issue in the SvgGradientStop StopColor and fill when it is a text color (white, bleu, black...)

Missing the rbg( ) for stop-color and the single quote should be removed when text color is used (white)

It is translated as
[code]
instead of

[code]

    Thanks in advance for your time

[2022-02-19 16:15] AmaelN opened #101 "Use skia 2.80.3 instead of skia 2.80.0-preview 173"
Hi,

Could you migrate from skia 2.80.0-preview 173 to a stable version of skia as it is required to add SkiaSharp.NativeAssets.Linux

[2022-03-07 12:42] daniel-rck commented on #99
Can confirm this issue. Any plans to implement to fix from https://github.com/svg-net/SVG/pull/920?

[2022-03-09 13:33] Wasenshi123 opened #102 "SVG issue with Avalonia UI on Raspberry Pi"
Hi,

I have created an avalonia app and intended to use it primarily on Raspberry pi.  I use svg for the logo. So I use Avalonia.Svg.Skia Nuget package

When I test it on my RPi, the svg is not showing correctly (see the picture)
<img width="470" alt="Window" src="https://user-images.githubusercontent.com/12524716/157451017-c4d524e7-fb87-44a5-9141-c249c9d24793.png">
On Windows

<img width="302" al

[2022-03-09 13:40] wieslawsoltes commented on #102
Try adding those lines to your program
https://github.com/wieslawsoltes/Svg.Skia/blob/d31efcb99eed70ed7d4671035007c046a5e1a9f3/samples/AvaloniaSvgSample/Program.cs#L19-L21

[2022-03-10 12:39] berruezo opened #103 "Opacity doesn't work on SVG Images"
The `Opacity` property of an `Image` doesn't work when the `Image.Source` is an `SvgImage`.
When the `Image.Source` is a `Bitmap`, the opacity is correctly applied.

I used this code to reproduce it on an Avalonia application:
[code]

- OS: Reproduced on Windows and Linux
- Version 0.10.12

[2022-03-10 12:48] wieslawsoltes commented on #103
Known issue in Avalonia https://github.com/wieslawsoltes/Svg.Skia/discussions/82

[2022-03-10 12:48] #103 closed

[2022-03-12 12:19] #102 closed

[2022-03-15 23:50] 15mgm15 commented on #10
@wieslawsoltes  By any chance did you had a chance to review this issue?

[2022-03-15 23:53] 15mgm15 commented on #47
I've just found my answer, thanks @wieslawsoltes

[2022-03-16 15:14] 15mgm15 commented on #47
@FoggyFinder  Did you ended up implementing this library? By any chance, do you have a code snippet?

[2022-03-16 15:37] FoggyFinder commented on #47
code snippet for what?

[2022-03-16 15:38] 15mgm15 commented on #47
@FoggyFinder Your implementation of this library using Xamarin.Forms

[2022-03-16 15:41] FoggyFinder commented on #47
@15mgm15  this library is compatible with XF as is

[2022-03-16 15:48] FoggyFinder commented on #47
Sample: https://github.com/FoggyFinder/XFMCVE1

[2022-03-16 15:53] 15mgm15 commented on #47
@FoggyFinder By any chance do you have a C# sample?

[2022-03-16 19:41] FoggyFinder commented on #47
@15mgm15 not sure. But it should be pretty straightforward to translate from F#. If you have any particular Qs feel free to ask.

[2022-03-17 15:29] fredmeister77 opened #104 "Arabic Text Rendering Issue"
Hello,

I am using SVG.Skia as a nuget package to render some arabic fonts in SVG.

I was running into the same issue reported here:
https://social.msdn.microsoft.com/Forums/en-US/5d88c41b-8766-4211-8ae2-ad769dadbed3/draw-arabic-text-using-skiasharp?forum=xamarinforms

Where HarfBuzz is recommended.

I noticed that HarfBuzz is used in SVG.Skia, and the SKShaper from it is only used when a preproce

[2022-03-22 20:23] tommaier123 opened #105 "Avalonia control change color"
Hello,
I'm using the Avalonia control to display buttons. Currently I switch between multiple SVGs with highlighted/disabled color.
I want to add styling so I would need to dynamically change the color. Is there a way to do that?

[2022-04-07 06:22] Ben290182 commented on #105
I was wondering the same thing. I could not find a way to do it with this library, so instead I manually copied the path data from the SVG into an Avalonia Path object. Then you can set the Fill and Stroke.

[2022-04-07 06:44] tommaier123 commented on #105
Great suggestion. I can easily export the XAML path from Inkscape.

[2022-05-24 09:15] leonbohmann opened #106 "Missing text rendering in svg image"
Hello! I have a svg-Image containing some text. The rendering of lines and areas works fine but the text does not render.

I already tried converting the text to contours but without success.

Original Image
![grafik](https://user-images.githubusercontent.com/13386367/169995832-f1292def-61cb-4897-be24-510713f9db2d.png)

Rendering
![grafik](https://user-images.githubusercontent.com/13386367/1699960

[2022-05-24 09:18] wieslawsoltes commented on #106
the <tspan> tag is not yet supported only basic <text> tags

[2022-05-24 09:19] leonbohmann commented on #106
What tag?

[2022-05-24 11:31] leonbohmann commented on #106
Do you know of a way in which I convert that svg to a compatible one?

[2022-05-29 19:40] RamenStudios opened #107 "'System.AccessViolationException' occurred in SkiaSharp.dll - Possible issue with SKSvg method "load""
Hello,
I am _very much_ a C# novice, currently trying to develop a WPF desktop application in VS2022. Without going into too much detail, the application needs to be capable of opening and displaying SVG files while maintaining the path data.
I created the following method to open and display the desired image:
`
       private void draw(string path, SKCanvas canvas)
        {

            var svg

[2022-06-03 12:18] kristofferjalen opened #108 "Setting the marker twice renders wrong path"
Given these two paths:

[code]
On https://www.svgviewer.dev/ and with `SkiaSharp.Extended.Svg.SKSvg` both these paths are rendered as two horizontal lines with space in-between:

![image](https://user-images.githubusercontent.com/2280252/171851246-bb9d92d2-75f3-47b5-826b-173499e4d996.png)

But with `Svg.Skia` the first path is rendered as a single line only:

![image](https://user-images.githubuse

[2022-06-17 16:25] AmaelN commented on #100
Hi,

Hope that you doing fine,

Could you have a look at this issue please

[2022-06-17 19:05] wieslawsoltes commented on #100
Interesting, are those working in chrome? Not sure if those things are supported by svg specification. Need to investigate.

[2022-06-17 19:16] AmaelN commented on #100
Initially I've used svg. Net and the output is correct.

It's supported by svg and is working under Chrome.

I've moved my project under svg. Skia and I've seen the described mismach

If I can help, please let me know

Amael

Le ven. 17 juin 2022 à 9:05 PM, Wiesław Šoltés ***@***.***> a
écrit :

[2022-06-17 19:27] wieslawsoltes commented on #100
Ah ok that helps a lot, which version of Svg.Net did you use?

[2022-06-17 19:39] AmaelN commented on #100
Latest... For now I'm mainly on svg. Net
It's working on svg net for the last two years since the day I started
playing with your library....

I've a branch for svg skia...I am waiting to merge it in order to be able
to move to net 6 as I'm deploying on a Linux docker and system drawing is
not available...

Le ven. 17 juin 2022 à 9:27 PM, Wiesław Šoltés ***@***.***> a
écrit :

[2022-06-17 20:37] wieslawsoltes commented on #100
Ok will try to fix

[2022-06-18 12:11] AmaelN commented on #100
I'm doing more test today

Here is some samples which are working on svg.net 3.4.0 but not on Svg.skia 0.5.14

Initial SVG file content
[code]
Save as svg output with no transformation
[code]
Output
[code]

To test the issue with fill white
[code]
Save as svg
Output
[code]

[2022-06-19 09:29] #101 closed

[2022-07-03 12:42] skaman opened #109 "CustomTypefaceProvider can't match font family"
I stumbled in a problem where CustomTypefaceProvider can't match the family name from an SVG with the one registered.

The problem is this line:
https://github.com/wieslawsoltes/Svg.Skia/blob/f5ced19d5476d250d1aa7558bc26b0ccbb0652ea/src/Svg.Skia/TypefaceProviders/CustomTypefaceProvider.cs#L47

The condition should be:
[code]

otherwise it ignore family with quotes or multiple families

[2022-07-03 13:01] skaman commented on #106
I'm facing the same issue too

[2022-07-04 09:46] leonbohmann commented on #106
When exporting the svg from Illustrator or InkScape you need to convert text to paths.
Another possibility is to use a XAML Converter (that is what I did) like [this one](https://github.com/wieslawsoltes/SvgToXaml).

[2022-07-04 10:46] skaman commented on #106
Unlucky our scenario is different. From one side we have a chart library that export a chart in SVG and from the other side we render it on a PDF with QuestPDF and SKIA. I think, at the moment, the only way to workaround the problem for us, is to export the chart as PNG instead of SVG. It will be nice if tspan support will be available in future.

[2022-07-04 10:48] leonbohmann commented on #106
I know there are some libraries which can export svgs. Maybe load them in that library (cant remember the name) and export using the text->path conversion?

[2022-07-04 11:38] skaman commented on #106
I will look into it, thanks

[2022-07-24 16:45] angelsix opened #110 "Completely freezes Rider Avalonia UI visual previewer when used"
New Avalonia project, using all the latest releases to day (fresh install of .Net Core, Rider, Avalonia etc...) running on a Mac.

New project, add this library using `dotnet add` command line, then in a axaml file add either `<svg ... />` or `<Image Source="{SvgImage ...}" />` and the visual previewer in Rider completely hangs and doesn't work.

Comment it out and replace with `<Image Path="image

[2022-07-24 17:50] wieslawsoltes commented on #110
Interesting didn't run into that issue yet, will investigate. One thing is that previewer is using immediate renderer while application defaults to deferred.

[2022-07-24 19:18] wieslawsoltes commented on #110
@angelsix It's know issue with previewer not resolving some external assemblies, unfortunately not know fix, but there is workaround to make previewer work.

Replace this lines:
https://github.com/angelsix/youtube/blob/08a0263702ba319b0e7553ddcc7934a3ec127772/Avalonia/AvaloniaLoudnessMeter/Program.cs#L16-L19

with:

[code]
this will load needed assemblies for previewer.

[2022-07-24 19:54] wieslawsoltes commented on #110
Added comment to README so others can also find the workaround https://github.com/wieslawsoltes/Svg.Skia#avalonia-previewer

[2022-07-25 07:38] angelsix commented on #110
Awesome thanks that KeepAlive fixed it. Perhaps keep this open until its fixed somehow?

[2022-07-25 11:38] wieslawsoltes commented on #110
I added comment to README with the workaround, and I don't think it's easily fixable as it's related to .netcoreapp model and dependency resolution, so way bigger issue than Avalonia.

[2022-07-31 18:25] nielsbosma commented on #100
I'm having the same issue with setting a simple fill:

 sElement.Fill = new SvgColourServer(
                    Color.FromArgb(solidPaint.Color.A, solidPaint.Color.R, solidPaint.Color.G, solidPaint.Color.B)
                );

Produces something like: <ellipse cx="88px" cy="52.5px" rx="88px" ry="52.5px" style="fill:249, 14, 14;" />

[2022-08-12 02:28] GNUGradyn opened #111 "Avalonia 0.10.16 support"
Avalonia 0.10.14 is currently the latest supported version. Update to 0.10.16
![image](https://user-images.githubusercontent.com/20762604/184273868-4ae439d8-bfcc-4747-9c01-c23360da59d4.png)

[2022-08-12 05:48] wieslawsoltes commented on #111
Not true, 0.10.16 is supported and released https://www.nuget.org/packages/Avalonia.Svg.Skia/0.10.16#dependencies-body-tab

[2022-08-12 05:48] #111 closed

[2022-08-12 05:49] wieslawsoltes commented on #111
Also 0.10.14 is compatible with 0.10.16, you just need to fix nuget references by directly referencing correct package version as the error is telling.

[2022-08-13 03:33] GNUGradyn opened #112 "Support for animated SVGs in avalonia"
Currently, there does not be a way to play an animated SVG using the `Svg` control

[2022-08-16 06:21] wieslawsoltes commented on #112
Currently not planned. See the https://github.com/wieslawsoltes/Svg.Skia/wiki/Elements

[2022-08-16 06:21] #112 closed

[2022-08-16 06:23] #110 closed

[2022-08-16 06:23] wieslawsoltes commented on #109
You can set your own providers with specified rules.

[2022-08-16 06:23] #109 closed

[2022-08-16 06:24] wieslawsoltes commented on #107
Looks like your svg file has invalid xml, can you post the svg file contents here?

[2022-08-16 06:25] wieslawsoltes commented on #104
Test rendering support is very basic and currently no plans of adding more advanced features.

[2022-08-16 06:25] #104 closed

[2022-08-18 19:09] gsgou commented on #10
[svg.zip](https://github.com/wieslawsoltes/Svg.Skia/files/9376816/svg.zip)
Updated the project libs and seems to work now

[2022-08-18 19:13] gsgou opened #114 "styling svg with border radius does not work"
Same issue with the rendering of SVGs with the popular skia framework.
https://github.com/mono/SkiaSharp/issues/2220

this renders correct
![de](https://user-images.githubusercontent.com/911534/185475451-21cab3bf-72da-492d-b486-802f012a99d9.svg)

while this does not
![de-de](https://user-images.githubusercontent.com/911534/185475380-01ea2662-c392-41d0-97ca-9acfb2baa2b8.svg)

See attached project (

[2022-08-19 22:25] mattleibow commented on #114
ngl, I can't see the difference... Am I blind?

[2022-08-19 22:57] gsgou commented on #114
![image](https://user-images.githubusercontent.com/911534/185717100-a0d5fef9-b41b-42a9-bed2-b92681ec2004.png)

By using embedded resource 1 you get the image rendered on the left
By using embedded resource 2 you get the image rendered on the right
Both should look circular as rendered in this thread by Github.
Seems border-radius or css styles are not interpreted correctly
in emulators and devices

[2022-08-20 10:08] mattleibow commented on #114
Maybe update the image in the issue description as I see 2 circles.

[2022-08-20 10:24] gsgou commented on #114
The images in the issue description are the same as in the project uploaded.
While the 1st achieves the circular path with border-radius
the 2nd does it with a mask. The browser renders both correctly circular,
so should also Skia.Svg. But i can remove them if its misleading?

[2022-08-21 21:36] andywyatte17 commented on #100
I have also come across the same issue in a similar case to that reported by @nielsbosma. My case is very simple - I wrote a simple unit-tests that

1. Loads svg into an SvgDocument.
    `<circle cx="100" cy="100" r="50"" id="2" style="stroke: rgba(128,64,32,1.0);" />`
2. Creates svg via SvgDocument.Write(..)
3. Checks the result as 'good' or 'bad', ie
    - Good `<circle cx="100" cy="100" r="50""

[2022-08-22 08:58] mattleibow commented on #114
Ah I see. Maybe a table with each and then how skia renders it. That was we can see which is the issue.

[2022-08-26 05:54] wieslawsoltes commented on #105
Please use https://github.com/wieslawsoltes/SvgToXaml

[2022-08-26 05:54] #105 closed

[2022-08-26 05:56] wieslawsoltes commented on #91
Should be fixed on master branch

[2022-08-26 05:56] #91 closed

[2022-08-26 10:02] DocBrown101 commented on #91
Thank you very much, I almost didn't expect a fix.

[2022-08-26 15:53] danipen opened #118 "Alpha channel is not properly parsed in Avalonia 11-preview-1"
In version `11.0-preview-1`, Svg.Skia doesn't support alpha channel for hex colors.

For example, trying to convert the color `#ff353535` doesn't work. Using `#353535` works fine. This worked fine in previous versions.

![image](https://user-images.githubusercontent.com/501613/186944572-367637cf-ea90-4e7b-843f-825cfbbe4036.png)

[2022-08-26 16:19] Happypig375 commented on #106
Fixed by https://github.com/wieslawsoltes/Svg.Skia/pull/115

[2022-08-26 19:46] danipen commented on #118
aarrggbb formats are valid in avalonia so this is the reason I was using that way. I can workaround removing that alpha channel before sending it to SVG.Skia.

The reason I reported it is because I'm previous SVG.Skia it worked fine.

[2022-08-26 20:12] #118 closed

[2022-08-29 08:14] danipen commented on #118
I place here my workaround for reference:

[code]

[2022-10-08 19:21] charlesroddie opened #125 "Exception thrown on iOS: `Attempting to JIT compile method void Svg.Skia.SkiaModelExtensions:Draw`"
Exception thrown on iOS. App center crash report (crashes every time).
[code]

We just did an update of the Svg.Skia Nuget from 0.5.10 to 0.5.16 and this issue was probably caused somewhere in between. Confirming this now. Hopefully we can also confirm the version increment that caused the issue.

[2022-10-09 07:37] wieslawsoltes commented on #125
Can you try version 6 preview?

[2022-10-10 11:28] charlesroddie commented on #125
So far:

0.5.10: works
0.5.16: doesn't work
0.6.0-preview1: doesn't work

We can try to bifurcate to get the first version that fails, and also I see 0.6.0-preview2 is out. An ios testflight release takes half an hour, so which is more helpful to check first?

[2022-10-10 11:37] wieslawsoltes commented on #125
I am not sure, if you can try first 0.6.0-preview2, but most helpful would which version introduced the issue what what part of code. I can't really test that issue on my hardware.

[2022-10-11 14:55] charlesroddie commented on #125
I don't see anything problematic in the diff
https://github.com/wieslawsoltes/Svg.Skia/compare/0.5.11...0.5.11.1
So this may be a mono bug.
We will stick with 0.5.11 and test again when we can move our ios app to dotnet7.

[2022-10-11 15:04] wieslawsoltes commented on #125
Might be target framework changes I guess

[2022-10-11 16:27] charlesroddie commented on #125
I do often find that the mono mac/ios AOT compiler fails for its own reasons on perfectly good code, unlike netnative (and presumably NativeAOT) which tend to pick out bad code.

I'll close this since there isn't any current evidence of a problem caused by any code here.

[2022-10-11 16:27] #125 closed

[2022-10-23 13:56] generalmimon commented on #100
I did some tests - the color issue only occurs with the https://www.nuget.org/packages/Svg.Custom/0.5.16 NuGet package, which is [used by `Svg.Skia`](https://www.nuget.org/packages/Svg.Skia/0.5.16#dependencies-body-tab). So if you load the following SVG via `SvgDocument` from [`Svg.Custom`](https://www.nuget.org/packages/Svg.Custom/0.5.16):

[code]

and save it back to string, you get this:

[code

[2022-10-29 22:25] samirem opened #128 "Colors when drawing onto SKSvgCanvas"
I am drawing the `SKPicture` onto an `SKSvgCanvas` through `canvas.DrawPicture(svg.Picture)`, but my stroke and fill colors all turn out black. Is it possible to preserve the colors from the original svg file?

[2022-11-01 13:50] Rippletank commented on #125
Just found this after debugging basically same issue. Adding this in case it helps to identify the issue at any point.

Difference is that I am using a local mac with simulator. I can confirm that the error appears when changing from 0.5.11 to 0.5.11.1 but not at compile time. The error appears on first run of Load(from stream) of an already created SKSvg object. It only occurs for IOS and not for

[2022-11-10 15:58] dpollock commented on #109
This needs to be re-opened as @skaman is correct.
![image](https://user-images.githubusercontent.com/1530315/201143108-c22e363d-f540-42f3-9305-8492fd607f9b.png)

We're splitting the fontFamilyNames and looping through each of them but then not using 'fontFamilyName' for the comparison. We're still comparing it to the original list of family names. Which means this only works if the original list h

[2022-11-10 16:02] dpollock commented on #109
In the meantime, for my own code, I've copied the CustomTypefaceProvider class and made the correction as you suggested.

[2022-11-10 17:18] dpollock commented on #109
Actually this particular code issue appears to be corrected in the 0.6.0-preview3

[2022-11-20 07:18] alyfreym opened #131 "Convert glyph outlined path to single line bezier path #12"
Hi its possible using this lib convert outlined glyph path to single line path? I pin example image what I mean. Any suggestion please, or article.
![Group 3](https://user-images.githubusercontent.com/29518174/202890583-1350323c-bc2e-4dc0-970e-4e466a355767.png)

[2022-11-20 10:38] wieslawsoltes commented on #128
Can you post original svg and resulting drawing?

[2022-11-20 10:40] wieslawsoltes commented on #107
No sample svg

[2022-11-20 10:40] #107 closed

[2022-11-20 10:42] wieslawsoltes commented on #108
The first path is invalid
![image](https://user-images.githubusercontent.com/2297442/202897708-8de13f3f-fc8a-4786-aa82-42fa686d2063.png)

[2022-11-20 10:42] #108 closed

[2022-11-20 10:43] wieslawsoltes commented on #98
Please try latest preview

[2022-11-20 10:43] #98 closed

[2022-11-20 10:43] wieslawsoltes commented on #128
No svg to reproduce

[2022-11-20 10:43] #128 closed

[2022-11-30 01:55] Batboa opened #135 "MoveTo then Close path commands ends path prematurely."
For an SVG like the following the path ends before all commands are parsed:
[code]

I can see the behavior coded here: https://github.com/wieslawsoltes/Svg.Skia/blob/master/src/Svg.Model/SvgExtensions.Pathing.cs#L273.

All browsers I tried seem to render this fine, and nothing in the path spec makes this seem invalid.